
@{
    ViewBag.Title = "HowToResearch";
}

<div class="content-div content-all-centered">
     <div class="content-flex">
        <div class="content-flex-item">
            <img class="illustrations" src='@Url.Content("/Content/Images/Errors/bird-in-suit.png")' />
        </div>
    </div>
    <div class="content-flex">
        <div class="content-flex-item">
            <h2>Coming soon</h2>
        </div>
     </div>
</div>