@{
    ViewBag.Title = "SelfTeach";
}

<div class="content-div">
    <h2 class="subheading">Teaching Yourself Without a Tutorial</h2>

    <p>Teaching yourself a skill set can be intimidating. It's all too easy to miss something important, or not be able to figure out where to start. If you're lucky, you're trying to learn a skill that someone has already condensed and turned into a concise list of instructions. If you aren't lucky, you're stuck trying to figure out how to teach yourself something that isn't rife with nice summaries of information.</p>
    <p>In cases when you're stuck teaching yourself something that isn't already summarized or if you find that you need to adapt the literature you can find, there are several steps you can take to get started assembling your own path toward mastering the skill:</p>

    <dl>
        <dt class="subheading">Find experts who are well known and/or well thought of in their field.</dt>
        <dd>This requires a little bit of pre-research—you'll need to seek out articles or papers that have already been written. I recommend a survey of those articles and papers, looking for names and how that person's work is discussed. When you find these names, you'll be able to start assembling the raw materials that you'll turn into a learning path. You can do this via searching on a generic engine (like Google), but it's frequently better if you use a slightly more specific engine (like academic or scholastic engines, or scholar.google.com) or skim the blog entries of someone more knowledgeable than you on your topic of interest.</dd>

        <dt class="subheading">Make a list of key terms and often cited papers, articles, or other documents produced by the authors and experts you've chosen.</dt>
        <dd>Academic papers and articles frequently have the key terms listed at the beginning of the paper, underneath the summary. Online articles differ considerably—the key terms may be listed near the top, at the bottom of the article in the tags, in the source code for the page or page header, or any other place the page author chooses to put it. The key terms will be useful for narrowing your search for new material and classifying the material into types. The often cited papers, articles, and/or documents are, given that they aren't being cited to be refuted, the most reliable and important of your raw materials. In a very basic way, the more citations a document has, the more important it is considered in your field, and the more likely the material in it is to be fundamental and central to your field. Those often-cited documents are central nodes, in a graph of your field. If no key terms are listed, a survey of the major terms, ideas, or subjects in the paper can net you a place to start.</dd>

        <dt class="subheading">Classify the papers or articles by key terms.</dt>
        <dd>Note that you haven't decided which key term you should start with. At this point, you're just grouping the papers by key term in order to start classifying and sorting them. There will be some overlap between key terms—scanning the paper to see the main focus should net you a key term that has the most or more emphasis in the paper. You will have to make decisions about which paper should belong to which category, but since you'll be reading them all, having a paper in the wrong category is not a problem.</dd>

        <dt class="subheading">Select a paper or article from each category and skim it.</dt>
        <dd>The paper you select should be influential (as in, most often cited in the key term categories you made in the previous step.) If the paper or article you select is influential, it should be a relatively good case study for your topic of interest. This is a preparatory step in arranging the papers in a path that you can follow. Skimming the papers allows you to figure out which of the key terms you should start with via the categorization in the next step.</dd>

        <dt class="subheading">Categorize papers or articles via the key terms that you understand the most to key terms you understand the least.</dt>
        <dd>The skimming in the previous step should have given you some idea of which key terms are associated with knowledge you may partially already have—familiar ideas, terms, or data. Because learning involves starting from a known or semi-known basis and extending into what is unknown, you'll want to categorize with an eye to what you already possess, in terms of knowledge, so that you can start building on skills you already possess. It is possible that you have no previous knowledge on this topic. If that is the case, categorize from what you believe is the easiest for you to learn or understand to that which you believe would be hardest. Remember that learning is an idiosyncratic process, and for that reason you may be forced to do your categorization not in the way an expert would, but based on what you know and/or believe you would find easiest to learn.</dd>

        <dt class="subheading">Check your categorization against the influential papers or articles you've already skimmed. </dt>
        <dd>Those often-cited papers or articles are usually not just repositories of important information, they're also usually organized such that the information presented in them is done in sequence—what you need to know to understand the focus of the paper. As such, those internal structures can provide important clues on how the field is expected to be organized. This process is yet another judgment call: since you are not free to consult a previously-created guide, you'll need to start trying to intuit what you will be expected to know, and the internal order of a paper contains a window into that organization. If you can find even partial tutorials on the topic or a subtopic in which you are interested, those may also be helpful for checking your organization.</dd>

        <dt class="subheading">Skim the papers or articles in each category, organizing them by familiar to unfamiliar, or easy to hard for you to learn.</dt>
        <dd>Keep in mind that a skim may be as simple as reading the summary, though you ought to read the opening and summarizing sections in order to make sure that you have a good grasp on the general contents of the paper. Again, this involves a judgment call, but the ramifications of being incorrect are not terribly high—you can rearrange the order at any time. Remember that the path you take to learning is relative: it matters what you already know about your learning habits and abilities, or the knowledge you already possess.</dd>

        <dt class="subheading">Draft a schedule for reading and digesting their contents.</dt>
        <dd>When drafting this schedule, make sure to leave yourself time to mull over the contents. A common error during drafting a learning schedule is attempting a pace which does not give you time to think about and try to understand and adapt the knowledge you're trying to acquire. The amount of time varies for each person, but taking a day between articles is about the minimum necessary to digest the knowledge from each paper. The schedule itself, no matter what number of days between each article you select, is important. Teaching yourself requires accountability and having a schedule helps to force you to be accountable.</dd>

        <dt class="subheading">Apply the skills or knowledge you're learning as you learn.</dt>
        <dd>This can mean starting a small, easy to finish project, or it can mean doing problem sets, or it can mean trying to figure out how to teach someone else about it. Anything that requires you to use the material you're learning will aid you in memorization and understanding, and the more flexible you are at the previous, generally speaking, the more you understand it.</dd>

        <dt class="subheading">Test and/or review yourself.</dt>
        <dd>A common problem in learning new material is retention. Self-learning is especially prone to attenuation, for a variety of reasons ranging from getting rusty due to disuse, to simply having nothing which connects to the skills you're attempting to learn. While such tests and reviews are highly artificial and do not really mimic real-life applications, they serve to put useful pressure on the process of learning. The tests and/or reviews also do not have to come in the form of academic tests and reviews: any activity which demands a display of the skills and knowledge you are learning and has a definite ability to be failed can serve in the place of an academic exam.</dd>
    </dl>

    <div class="content-flex">
        <div class="content-fixed-item">
            <img class="illustrations" title="'Scenes de la privee et publique des animaux,' JJ Grandville (1842)" src='@Url.Content("~/Content/Images/General/donkey-scholar.png")' />
        </div>
        <div class="content-flex-item" style="margin-top: 5%;">
            <p>Please note that many of these steps require judgment calls that you may not, due to a lack of knowledge on the topic, be able to perform well. The good news is that as you learn more, you'll be able to rearrange, streamline, or reorganize your learning path. This process is a normal part of learning, which often starts in confusion, ignorance, or the uncomfortable unknown, and builds to a more comfortable state of knowledge or at least the ability to locate a better answer.</p>
            <p>Please also remember to be patient with yourself. The previous process mimics some of the early stages in earning a PhD and a literature search from the later process. As such, it is neither simple nor easy, but engaging in the work of teaching yourself can be personally enriching and a great aid to building your career.</p>
        </div>
    </div>
</div>