@{
    ViewBag.Title = "WhatIsResearch";
}

<div class="content-div">
    <h2 class="subheading">What is (Social Science) Research?</h2>

    <p>Outside of academia and certain sectors of business, few people know what research is and why it is conducted. For many, a generic image of a geek in a lab coat springs to mind immediately, legacy of any number of movies on the topic and the general conception of research, and the whole gets regulated to something done with expensive lab equipment, in a rarefied environment. Research, by that measure, is only done in the lab, and anyone claiming to be a researcher who isn't wearing a lab coat is up to something.<sup><a aria-describedby="footnote-label" href="#footnote1" id="footnote-link1">[1]</a></sup></p>

    <p>While the lab coat is a routine part of some research in the sciences, this image doesn't serve us well when it comes to conceptualizing certain parts of computer science or the social sciences, since much of that research doesn't occur under a microscope, except in the most figurative sense. Research in the social sciences and parts of computer science is performed, instead, out in the field—without the ability to physically isolate the studied effect, without the ability to engage in the kind of reproduction one might in a lab<sup><a aria-describedby="footnote-label" href="#footnote2" id="footnote-link2">[2]</a></sup> and heavily reliant on the statistical model and techniques used to study the subject of inquiry. This difference makes a few small but crucial changes in what research is and what it does for the social sciences and that portion of computer science which concerns human behavior.</p>

    <p>Research becomes the set of systematic and methodological approaches used to understand or describe an event that has already occurred or is currently occurring for the purpose of increasing knowledge, rather than a systematic investigation into and study of materials and events for the purpose of establishing facts and increasing knowledge.</p>

    <p>The primary difference between the two definitions lies in the stated goal of establishing facts. This is a much more tenuous and complicated problem when it's impossible to completely isolate a reaction. Many of the effects studied in the social sciences and portions of computer science are studied while the interactions which are likely to have caused them exist in a complex web of other interactions which are not a part of the inquiry and often cannot be, both due to inherent limitations in methods and our ability to grasp the whole when there's that many interactions.</p>

    <p>Complexity science has qualified this phenomena extensively—I will summarize, albeit unfairly, by saying that there are any number of causes for any given event, and the social sciences and the part of computer science which studies human behavior tends to concentrate on the most proximate, plausible ones, although this can sometimes lead to problems due to a combination of errors in judgment, biases, and missing information.<sup><a aria-describedby="footnote-label" href="#footnote3" id="footnote-link3">[3]</a></sup></p>

    <p>The result of that uncertainty about facts and inability to physically isolate phenomena is a considerable, healthy amount of caution with regard to interpretation and conclusions. To a great degree, this is normal for any statistical process. The result is only true if and where the assumptions used to create the inquiry remain valid—as the situation changes, the interpretation and conclusions must change.<sup><a aria-describedby="footnote-label" href="#footnote4" id="footnote-link4">[4]</a></sup></p>

    <p>The other result is that research in the social sciences and some of computer science is unable to engage in definitive prediction, merely approximate prediction or comparatively non-robust results, given the continuing validity of the model and interpretation. This can be particularly hard for people to stomach, and often leads to relegating the social sciences and the portions of computer science that concern human behavior to false, soft, or pointless science, or 'science' in name only.</p>

    <p>This is unfortunate. To some degree, it displays ignorance of what statistics can and cannot do, as well as widespread ignorance about the nature of science, but it also points to the sheer complexity of the situations soft sciences study and the monumental difficulty of accurate description.</p>

    <p>A better way of understanding the limitations of fact-finding in the social sciences and the portions of computer science which study human behavior would be to distinguish between uncontroversial fact, which is what people tend to think of when they think of facts, and provisional fact, which is really all science can give us, though the 'hard' sciences have more robust provisional facts than the 'soft' sciences. The soft sciences force us to take a closer view of the role of time and context in the systematic approaches and methods we use to understand the world around us—and very specifically remind us that time is perhaps the most important actor in any given experiment. As time changes, context changes, as does context and the characteristics of the data which makes up the object of study, which is exactly what limits the predictive ability of the social sciences and that portion of computer science that studies human behavior.</p>

    <p>It does not, however, prevent prediction. Research in the soft sciences is still quite useful, if limited by its conditions.</p>
    <div class="content-flex">
        <div class="content-flex-item">
            <h3 class="subheading" id="footnote-label">Footnotes and Sarcasm</h3>
            <ul>
                <li id="footnote1"><sup>1</sup> It may include zombies or dinosaurs.<a href="#footnote-link1" aria-label="Back to content">↺</a></li>
                <li id="footnote2"><sup>2</sup> In the case of the social sciences and certain parts of computer science, reproducibility is less about reproducing the conditions as one might in a lab and more about reproducing the results, given the same data set and methods.<a href="#footnote-link2" aria-label="Back to content">↺</a></li>
                <li id="footnote3"><sup>3</sup> Global, non-proximate causes are not infinite, though they might as well be for our ability to thoroughly describe them. For more information on this phenomena, google the Curse of Dimensionality.<a href="#footnote-link3" aria-label="Back to content">↺</a></li>
                <li id="footnote4"><sup>4</sup> The methods, of course, change based on the characteristics of the domain of inquiry and available data.<a href="#footnote-link4" aria-label="Back to content">↺</a></li>
            </ul>
        </div>
        <div class="content-fixed-item">
            <img class="illustrations" title="'Scenes de la privee et publique des animaux,' JJ Grandville (1842)" src='@Url.Content("~/Content/Images/General/elephant-in-suit.png")' />
        </div>
    </div>
</div>