@{
    ViewBag.Title = "About";
}

<div class="content-div content-flex">
    <div class="content-fixed-item" style="margin-top: 10%;">
        <img class="illustrations" title="WS Penley as 'Charley's Aunt,' Alfred Bryan (1852-1899)" src='@Url.Content("/Content/Images/General/ladywithcigar.png")' />
    </div>
    <div class="content-flex-item">
        <h2 class="subheading">About Me</h2>
        <p>For the last three years, I've written software and software packages freelance, on projects ranging from time sheet and invoicing software built with a relational database to web pages. I spent seven years teaching at the University of New Mexico for the English, Creative Writing, First-Year Retention, and Sociology departments. Among my duties while teaching for the Sociology department, I tutored statistics. I have also edited both freelance and as a part of the staff for local newspapers and other publications on and off for the last eight years.</p>
        <p>The previous experiences have given me a wide array of skills, allowing me to write software, documentation, help teach users how to use a system, design curricula and learning materials, and work with a wide variety of groups and individuals. They have also given me the ability to teach myself. I am highly self-motivated to learn, and have no problem being asked to take on new or unfamiliar skill sets. I am able to locate my own training materials and teach myself on them.</p>
        <p>Work is performed on site and remote, with preference given to remote.</p>

        <h4 class="subheading">Languages/Software:</h4>
        <p>AJAX, C, C#, CSS/HTML, GIMP, Java, Javascript, JQuery, LINQ, SQL, Lucene.Net</p>

        <h4 class="subheading">Development Environments:</h4>
        <p>Eclipse, VIM, Sublime Text, Visual Studio</p>

        <h4 class="subheading">Current Learning Projects:</h4>
        <p>R, building custom regex engine</p>
    </div>
</div>