@{
    ViewBag.Title = "HireMe";
}

<div class="content-div">
    <dl>
        <dt class="subheading">Basic Website Package:</dt>
        <dd>Includes About, Contact, and Index pages, 30 hours of work plus 10 hours technical support, and manual/documentation.</dd>
        <dd><strong>$4,000</strong></dd>

        <dt class="subheading">Basic Website with Membership Package:</dt>
        <dd>Includes About, Contact, and Index pages, Login and two members only pages, 40 hours of work plus 15 hours technical support, and manual/documentation.</dd>
        <dd><strong>$6,000</strong></dd>

        <dt class="subheading">Advanced Website Package:</dt>
        <dd>Includes all features in basic website package plus two additional pages, 50 hours of work plus 15 hours technical support, and manual/documentation.</dd>
        <dd><strong>$8,000</strong></dd>

        <dt class="subheading">Advanced Website with Membership Package:</dt>
        <dd>Includes all features in basic website with membership package plus two addition pages, 60 hours of work plus 20 hours technical support, and manual/documentation.</dd>
        <dd><strong>$9,000</strong></dd>

        <dt class="subheading">Hourly Rate, Database Design and Coding:</dt>
        <dd>Includes the processes of drafting a database design based on client needs, coding the database, and database testing.</dd>
        <dd><strong>$80</strong></dd>

        <dt class="subheading">Hourly Rate, Coding/Testing:</dt>
        <dd>Includes both the process of writing code and testing it.</dd>
        <dd><strong>$50</strong></dd>

        <dt class="subheading">Hourly Rate, Technical Support:</dt>
        <dd>Includes phone, in-person, email, or online support.</dd>
        <dd><strong>$40</strong></dd>

        <dt class="subheading">Hourly Rate, Graphic Designer:</dt>
        <dd>Includes creating logos, adapting provided logos or photographs, and drafting website layout or styles.</dd>
        <dd><strong>$35</strong></dd>

        <dt class="subheading">Hourly Rate, Editor/Writer:</dt>
        <dd>Includes creating or editing copy for the website.</dd>
        <dd><strong>$30</strong></dd>

        <dt class="subheading">Deposit:</dt>
        <dd>All work requires a deposit payable before the commencement of activity. Deposit calculated on the estimate, which is submitted to the client prior to the commencement of activity.</dd>
        <dd><strong>25% of the provided estimate</strong></dd>
    </dl>
    <div class="content-flex" style="margin-top: 0;">
        <div class="content-fixed-item">
            <img class="illustrations" title="Illustration of the White Rabbit from 'The Complete Alice', Ralph Steadman (1986)" src='@Url.Content("/Content/Images/General/bunny.png")' class="pull-left" />
        </div>
        <div class="content-flex-item content-flex-item-text" style="margin-top: 15%;">
            <h4 class="subheading">Please note that work will be pursued contractually.</h4>
            <h4 class="subheading">No work will commence before a signed contract, including the estimate, and a deposit have been received.</h4>
            <h4 class="subheading">All payment is due on delivery unless other arrangements have been made.</h4>
        </div>
    </div>
</div>