@{
    ViewBag.Title = "PrivacyPolicy";
}

<div class="content-div">
    <dl>
        <dd>
            <div class="content-flex">
                <img class="illustrations" src='@Url.Content("/Content/Images/General/castle.png")' class="content-fixed-item" />
                <div class="content-flex-item content-flex-item-text">
                    <h2 class="subheading">Privacy and Security</h2>
                    <p style="align-content: center;">This page covers site privacy and security policies in the form of commonly asked questions.</p>
                </div>
            </div>
        </dd>

        <dt class="subheading">What is a cookie?</dt>

        <dd>A cookie is a small file which is stored on a user's computer. These files are designed to hold a small amount of data specific to the user's computer and the website. A cookie can be accessed by the website and the user's computer. Cookies are used for a variety of purposes, including allowing the site owner to tailor the user's experience and to exchange data with the user's computer.</dd>
        <dd>These files are typically able to be located via the user's browser, and can be ordered to be deleted or 'cleared.' Clearing a cookie while logged into a site can cause issues with user experience, so it is recommended that you clear the cookies when you are not currently visiting the site.</dd>
        <dd>Cookies for other sites may not be viewed by the current site. No tracking cookies or advertising are used on this site.</dd>
        <dd>For more information on cookies and what they do, please visit <a href="www.whatarecookies.com">whatarecookies</a>.</dd>

        <dt class="subheading">What data are you collecting?</dt>

        <dd>The IP address of vistors is temporarily logged.</dd>
        <dd>The IP address, hometown, and MAC address of site members are logged and kept through the lifetime of the site.</dd>

        <dt class="subheading">What is your security policy?</dt>

        <dd>Concurrent with the advice of security professionals, this site uses a combination of professional security tools and logging to help catch potential penetrations as early as possible, as well as providing the means with which to understand threats to this site. In the unlikely event of a site breach, the logging done can be used to help trace the location and machines used to perpetrate that breach.</dd>
        <dd>The site will be routinely updated and monitored in order to provide the strongest possible protection for site users.</dd>

        <dt class="subheading">What are you doing with the data you gather?</dt>

        <dd>Data from non-site members is collected and aggregated for the purpose of traffic analytics. Individual data is erased at the end of each month in order to facilitate privacy.</dd>
        <dd>Data from site members is collected for a variety of purposes, including analytics, and will be stored over the lifetime of the site.</dd>
        <dd>Aggregated and anonymous data may be used for research purposes, but no identifying data will ever be published.</dd>
        <dd>No individual data gathered on this site will ever be sold, and this website does not send bulk email for the purpose of advertising (spam).</dd>

        <dt class="subheading">What do you mean by research?</dt>

        <dd>For the purposes of adding to the understanding of site use and user behavior, the site owner reserves the right to aggregate and analyze the collected data. The results of that analysis are of great use for the purpose of understanding how users behave, and the completely anonymized results may be published for the purpose of adding to that understanding.</dd>
        <dd>The site owner has earned professional certification for the purposes of conducting research, which includes compliance with professional and governmental standards for dealing with research on human subjects. Great effort will be taken to prevent individual data from being discovered, as per US law on the conduct of responsible research.</>
        <dd>For more information about the ethical governance of information security, please visit the <a href="http://www.isaca.org/knowledge-center/research/documents/information-security-govenance-for-board-of-directors-and-executive-management_res_eng_0510.pdf">isaca</a>.</dd>
        <dd>For more information about responsible standards for research on human subjects, please visit the <a href="https://www.nsf.gov/bfa/dias/policy/human.jsp">National Science Foundation</a>.</dd>

        <dt class="subheading">Why are you telling me this?</dt>

        <dd>Transparency is an important part of creating a better web. Making the kinds of data gathered and what will be done with it public is a central contributing factor to promoting awareness and the ethical stewardship of data. Due to the volume of data able to be collected on site users, it is in everyone's best interests for site owners to communicate the types of data collected and the policies which dictate how that data is used.</dd>
        <dd>For more information on why privacy and transparency are important, please visit the <a href="https://www.eff.org/issues/privacy">Electronic Frontier Foundation</a></dd>
    </dl>
</div>