@{
    ViewBag.Title = "Display";
}

<div class="body-content">
    <div class="content-flex content-flex-item">
        <img class="illustrations" src='@Url.Content("/Content/Images/Errors/bird-in-suit.png")' />
    </div>
    <div class="content-flex content-flex-item">
        <h2>Coming soon</h2>
    </div>
</div>